body{
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

.main-nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    background-color: #44475a;
}

.nav-items {
    display: flex;
    list-style: none;
    

}
.nav-items > li{
    padding: 10px;
}

.imgClass{
    width: 70px;
}

.footer, .content, .main-nav{
    padding: 10px;

}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #44475a;
 
}